image:
  repository: ghcr.io/linuxserver/freshrss
  pullPolicy: IfNotPresent
  tag: 1.27.0
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
service:
  main:
    type: LoadBalancer
    allocateLoadBalancerNodePorts: true
    ipFamilyPolicy: PreferDualStack
    ports:
      main:
        port: 80
        targetPort: 80
persistence:
  config:
    enabled: true
    mountPath: /config
portal:
  open:
    enabled: true
