apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: release-name-meilisearch-longhorn
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 500Mi