---
apiVersion: v1
kind: Service
metadata:
  name: jackett
  labels:
    app: jackett
spec:
  type: LoadBalancer
  selector:
    app: jackett
  ports:
    - name: "9117"
      port: 9117
      targetPort: 9117
      protocol: TCP
