---
apiVersion: v2
appVersion: 2.8.0
description: A web-based collaborative LaTeX editor
name: overleaf
version: 3.3.24
keywords:
  - overleaf
  - sharelatex
sources:
  - https://github.com/overleaf/overleaf
dependencies:
  - name: common
    repository: "file://../common"
    version: 4.5.4
  - name: redis
    version: 20.13.4
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
  - name: mongodb
    version: 16.5.45
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: mongodb.enabled
