---
apiVersion: v2
appVersion: 2.7.8
description: A web-based collaborative LaTeX editor
name: overleaf
version: 3.3.16
keywords:
  - overleaf
  - sharelatex
sources:
  - https://github.com/overleaf/overleaf
dependencies:
  - name: common
    repository: "file://../common"
    version: 4.5.3
  - name: redis
    version: 18.17.0
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
  - name: mongodb
    version: 16.4.0
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: mongodb.enabled
