#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/k8s-at-home/library-charts/tree/main/charts/stable/common/values.yaml
#
# Example official overleaf docker compose: https://github.com/overleaf/overleaf/blob/old-master/docker-compose.yml

image:
  repository: ghcr.io/therin/overleaf
  tag: "4e257c5632b1da520df2359fc0b1200b015cce40"
  # tag: "latest"
  pullPolicy: Always

# Local kubernetes secret that holds creds for ghcr repo image
imagePullSecrets:
  - name: regcred

# -- environment variables. See more environment variables in the [overleaf documentation](https://github.com/overleaf/overleaf/wiki/Configuring-Overleaf).
# @default -- See below
env:
  # -- Set the container timezone
  TZ: UTC
  # -- The URL of the Mongo database to use.
  OVERLEAF_MONGO_URL: mongodb://overleaf-mongodb.flux-system.svc.buran-kube.local:27017,overleaf-mongodb.flux-system.svc.buran-kube.local:27017/sharelatex
  # -- The host name of the Redis instance to use. (Both `SHARELATEX_REDIS_HOST` and `REDIS_HOST` are required)
  OVERLEAF_REDIS_HOST: overleaf-redis-master
  # -- The host name of the Redis instance to use. (Both `SHARELATEX_REDIS_HOST` and `REDIS_HOST` are required)
  REDIS_HOST:
  OVERLEAF_APP_NAME: Overleaf Community Edition
  ENABLED_LINKED_FILE_TYPES: 'url,project_file'
  # Enables Thumbnail generation using ImageMagick
  ENABLE_CONVERSIONS: 'true'
  # Disables email confirmation requirement
  EMAIL_CONFIRMATION_DISABLED: 'true'
  OVERLEAF_BEHIND_PROXY: 'true'
  # temporary fix for LuaLaTex compiles
  # see https://github.com/overleaf/overleaf/issues/695
  TEXMFVAR: /var/lib/sharelatex/tmp/texmf-var
  # Below is needed to fix ipv6 issues
  # SHARELATEX_EMAIL_SMTP_HOST: "0.0.0.0"
  WEB_HOST: "0.0.0.0"
  LISTEN_ADDRESS: "0.0.0.0"
  WEB_API_HOST: "0.0.0.0"
  # DOCUPDATER_HOST: "0.0.0.0"
  # SPELLING_HOST: "0.0.0.0"
  # DOCSTORE_HOST: "0.0.0.0"
  # CHAT_HOST: "0.0.0.0"
  # FILESTORE_HOST: "0.0.0.0"
  # CLSI_HOST: "0.0.0.0"
  # PROJECT_HISTORY_HOST: "0.0.0.0"
  # REALTIME_HOST: "0.0.0.0"
  # CONTACTS_HOST: "0.0.0.0"
  # NOTIFICATIONS_HOST: "0.0.0.0"
  # WEBPACK_HOST: "0.0.0.0"
  # V1_HISTORY_HOST: "0.0.0.0"

# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  main:
    ipFamilies:
    - IPv4
    ipFamilyPolicy: SingleStack
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 80

# probes:
#   liveness:
#     enabled: false
#   readiness:
#     enabled: false
#   startup:
#     enabled: false

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  # @default -- See values.yaml
  main:
    enabled: false

# -- Configure persistence settings for the chart under this key.
# @default -- See values.yaml
persistence:
  data:
    enabled: false
    mountPath: /var/lib/sharelatex

# -- Enable and configure redis subchart under this key.
#    For more options see [redis chart documentation](https://github.com/bitnami/charts/tree/master/bitnami/redis)
# @default -- See values.yaml
redis:
  enabled: true
  # fullnameOverride: overleaf-redis
  clusterDomain: buran-kube.local
  replica:
    replicaCount: 1
  auth:
    enabled: false

# -- Enable and configure mongodb database subchart under this key.
#    For more options see [mongodb chart documentation](https://github.com/bitnami/charts/tree/master/bitnami/mongodb)
# @default -- See values.yaml
mongodb:
  enabled: true
  architecture: standalone
  # replicaCount: 1
  clusterDomain: buran-kube.local
  # fullnameOverride: overleaf-mongodb
  auth:
    enabled: false
    replicaSetKey: replica-bla-overleaf
  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    size: 3Gi
    # storageClass: ""
  extraEnvVars:
    - name: LOG_LEVEL
      value: debug

nodeSelector: {kubernetes.io/hostname: k3s-agent-02}