apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: saved
  name: vima-saved
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 100Mi