---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  labels:
    app: sonarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
      annotations:
        sonarr.cfg: v1
    spec:
      containers:
        - name: sonarr
          image: linuxserver/sonarr:latest
          ports:
            - containerPort: 8989
          envFrom:
            - configMapRef:
                name: sonarr
          volumeMounts:
            - name: sonarr-config
              mountPath: /config
            - name: torrents-volume
              mountPath: /storage
      volumes:
        - name: sonarr-config
          persistentVolumeClaim:
            claimName: sonarr-config-longhorn
        - name: torrents-volume
          persistentVolumeClaim:
            claimName: torrents-volume
      nodeSelector:
        kubernetes.io/hostname: k3s-agent-02
