---
apiVersion: v1
kind: Service
metadata:
  name: sonarr
  labels:
    app: sonarr
spec:
  type: LoadBalancer
  selector:
    app: sonarr
  ports:
    - name: "8989"
      port: 8989
      targetPort: 8989
      protocol: TCP
