apiVersion: v2
name: librechat
description: Frontend for AI endpoints
type: application
version: 1.0.97
dependencies:
  - name: meilisearch
    repository: https://meilisearch.github.io/meilisearch-kubernetes
    version: 0.12.0
    condition: meilisearch.enabled
  - name: redis
    version: 20.13.4
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
  - name: mongodb
    version: 16.5.45
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: mongodb.enabled
