---
apiVersion: v1
kind: Service
metadata:
  name: prowlarr
  labels:
    app: prowlarr
spec:
  type: LoadBalancer
  selector:
    app: prowlarr
  ports:
    - name: "9696"
      port: 9696
      targetPort: 9696
      protocol: TCP
