apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "xray-proxy.fullname" . }}-config
  labels:
    {{- include "xray-proxy.labels" . | nindent 4 }}
data:
  config.json: |
{{ .Values.xrayConfig | indent 4 }}