apiVersion: v1
kind: Secret
metadata:
  name: {{ include "xray-proxy.fullname" . }}-secret
  labels:
    {{- include "xray-proxy.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.xray.reality.enabled }}
  reality-private-key: {{ .Values.xray.reality.privateKey | b64enc | quote }}
  reality-public-key: {{ .Values.xray.reality.publicKey | b64enc | quote }}
  {{- range $index, $id := .Values.xray.reality.shortIds }}
  reality-short-id-{{ $index }}: {{ $id | b64enc | quote }}
  {{- end }}
  {{- range $index, $client := .Values.xray.reality.clients }}
  client-id-{{ $index }}: {{ $client.id | b64enc | quote }}
  {{- end }}
  {{- end }}
  {{- if and .Values.xray.socks5.enabled (eq .Values.xray.socks5.auth "password") .Values.xray.socks5.accounts }}
  {{- range $index, $account := .Values.xray.socks5.accounts }}
  socks5-user-{{ $index }}: {{ $account.user | b64enc | quote }}
  socks5-pass-{{ $index }}: {{ $account.pass | b64enc | quote }}
  {{- end }}
  {{- end }}