---
apiVersion: v1
kind: Service
metadata:
  name: flare-solver
  labels:
    app: flare-solver
spec:
  type: LoadBalancer
  selector:
    app: flare-solver
  ports:
    - name: "8191"
      port: 8191
      targetPort: 8191
      protocol: TCP
